@import "../../global.scss";
.home {
  background-color: rgb(14, 14, 13);
  display: flex;
  height: 100%;
  color: $mainColor;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 99.1%;
    .span1 {
      font-size: 30px;
    }
    .span2 {
      font-size: 30px;
      margin-left: 83%;
    }
  }
}
