.containerLoading {
  width: 100%;
  height: 100%;
  display: flex;

  position: relative;
  margin-bottom: 60%;
  h1 {
    margin-bottom: 70%;
  }
  .ImgContainer {
    width: 100%;
    height: 100%;
    img {
      width: 20rem;
      height: 15rem;
    }
  }
}
