@import "../../global.scss";

input {
  font-family: "Press Start 2P";
  background-color: transparent;
  border: none;
  margin-top: 6px;
  color: $thirdColor;
  font-size: 1rem;
  font-weight: 300;
  width: 15rem;
  display: flex;
  margin-right: 20px;
  outline: none;
  @include mobile {
    font-size: 13px;
    width: 10rem;
  }
}
::placeholder {
  color: $thirdColor;
}
