@import "../../global.scss";

.cardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    background-color: black;
  }
  .gameList {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: wrap;
    justify-content: center;
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @include mobile {
      margin-left: 20px;
    }
    button {
      background: transparent;
      border-radius: 20px;
      color: $thirdColor;
      font-family: "Press Start 2P";
      font-size: 15px;
      font-weight: 100;
      padding: 20px;
      border: none;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      @include mobile {
        padding: 8px;
      }
    }
  }
  .loading {
    margin-top: 9rem;
    width: 100%;
    display: grid;
    align-items: center;
  }
}
