@import "../../global.scss";

.cardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .gameList {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: wrap;
    justify-content: center;
  }
}
